@import url('https://fonts.google.com/?query=eb+g&selection.family=EB+Garamond');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    background-color: rgb(227, 231, 237);
    -webkit-font-smoothing: antialiased;
}

#homepage {
    background-image: url('images/homepage1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;

}



.social {
    position: absolute;
    top: 40px;
    right: 40px;
}


.social svg {
    width: 40px;
    margin-left: 20px;
}

.center {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translate(0, -50%);
    color: white;
    text-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.center h1 {
    font-size: 7em;
    font-weight: 400;
}

.center h3 {
    font-family: 'EB Garamond', serif;
    font-size: 3em;
    font-weight: 300;
  }


.scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.scroll img {
    width: 100px;
}



#map {
    background: #eee;
    font-family: 'EB Garamond', serif;
    font-size: 2em;
    color: white;
}

.china {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-45%);
}

.china p {
  font-family: 'EB Garamond', serif;
  font-size: 0.1em;
  color: white;
  text-align: center;
}
.china img {
    width: 1000px;
}


.marker {
    position: absolute;
}

.marker.weihai { top: 338px; left: 752px; }
.marker.beijing { top: 273px; left: 675px; }
.marker.xian { top: 400px; left: 550px; }

.marker img {
    width: 50px;
}

.header{
    width: 100%;
    padding: 100px;
    text-align: center;
    color: white;

}

.header h1 {
    font-size: 5em;
    font-weight: 500;
}

.grid {
    width: auto;
    margin-top:40px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }


.image {
    display: inline-block;
    width: calc(33.3% - 3px);
    height: 300px;
    background-size: cover;
    background-position: 50% 50%;
}
.grid hover {
  colour: rgb(121, 153, 206);
}
